nav {
    margin-bottom: 40px
}
.filters-label a{
    padding: 12px;
}
.dropdown{
    margin: 1px 2px;
    padding: 2px 14px;
    // border: 1px solid rgba(0,0,0,.1)
}
.dropdown-menu{
    min-width: 13rem;
    padding: 6px

}
.pagesCounter{
    text-align: center;
    width: 100%;
    padding: 1rem 30%;
    .info{
        padding-left: 3rem;
        padding-right: 3rem
    }
}
.table thead th,
.table td, .table th{
    font-size: 12px
}



